{deps, [
  {hackney,"1.15.1"},
  {jsx,"2.9.0"},
  {erlsom,"1.5.0"},
  {mochiweb_util,"0.1.0"}
]}.

{profiles,
  [{test,
    [{deps,
      [{meck, "0.8.13"}]
    }]
  }]
}.

{xref_checks,[undefined_function_calls,undefined_functions,locals_not_used,
              deprecated_function_calls,deprecated_functions]}.

{erl_opts, [debug_info,warn_export_vars,warn_shadow_vars,warn_obsolete_guard]}.
