{deps, [
  {hackney,"1.15.1"},
  {jsx,"2.9.0"},
  {erlsom,"1.5.0"},
  {mochiweb_util,"0.1.0"}
]}.

{profiles,
  [{test,
    [{deps,
      [{meck, {git, "git@github.com:eproxus/meck.git", {tag, "0.8.13"}}}]
    }]
  }]
}.
{erl_opts, [debug_info,warn_export_vars,warn_shadow_vars,warn_obsolete_guard]}.
