{deps, [{hackney,"1.17.0"},
        {jsx,"2.11.0"},
        {erlsom,"1.5.0"}
       ]}.

{project_plugins, [rebar3_proper]}.

{profiles,
    [{test, [
        {erl_opts, [nowarn_export_all]},
        {deps, [ proper
               , {meck, "0.8.13"}
               ]}
    ]}
]}.

{xref_checks,[undefined_function_calls,undefined_functions,locals_not_used,
              deprecated_function_calls,deprecated_functions]}.

{erl_opts, [debug_info,warn_export_vars,warn_shadow_vars,warn_obsolete_guard]}.
